/* Colores:
   $color-primary:  #222
   $color-secondary: rgba(110, 69, 51, 1);
   $color-focus-menu: #B90000; 
   $color-background: #fff;
   $color-list-odd: #f2f2f2;
   
*/

/* Imágenes:
logo: https://www.last.fm/static/images/logo_static_mob.0798d7258e3d.png
rock: https://lastfm.freetls.fastly.net/i/u/avatar300s/366962d5733a4aee8bee4a136c239d47.jpg
hip-hop: https://lastfm.freetls.fastly.net/i/u/avatar300s/51810a59cb17449bb2d6b8b62d63ce78.jpg
indie:https://lastfm.freetls.fastly.net/i/u/avatar300s/c825233e09af4641a5ce7b6ece883aae.jpg
jazz:https://lastfm.freetls.fastly.net/i/u/avatar300s/c0a9af93c8c843afb43cd6dc24b0bbf3.jpg
reggae: https://lastfm.freetls.fastly.net/i/u/avatar300s/94428d295a60403e9327cbfb86e2fbf6.jpg
*/

/* Filtros: 

rock:   sepia(90%);
hip-hop:contrast(200%);
indie:  grayscale(50%);
jazz:   hue-rotate(90deg);
reggae: saturate(10%);

*/

/* Fuente:
    font-family:Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;

*/

/* Utiliza  la propiedad counter-increment: step-counter; para pintar el número de la canción
 */

