/* Imágenes:
logo: https://www.last.fm/static/images/logo_static_mob.0798d7258e3d.png
rock: https://lastfm.freetls.fastly.net/i/u/avatar300s/366962d5733a4aee8bee4a136c239d47.jpg
hip-hop: https://lastfm.freetls.fastly.net/i/u/avatar300s/51810a59cb17449bb2d6b8b62d63ce78.jpg
indie:https://lastfm.freetls.fastly.net/i/u/avatar300s/c825233e09af4641a5ce7b6ece883aae.jpg
jazz:https://lastfm.freetls.fastly.net/i/u/avatar300s/c0a9af93c8c843afb43cd6dc24b0bbf3.jpg
reggae: https://lastfm.freetls.fastly.net/i/u/avatar300s/94428d295a60403e9327cbfb86e2fbf6.jpg
*/

/* Fuente:
    font-family:Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
*/

/* Utiliza  la propiedad counter-increment: step-counter; para pintar el número de la canción
 */

@import "./reset.scss";
@import "./colors.scss";
@import "./filtros.scss";

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 9em 2.5em 3em auto;
    gap: 0px 0px;
    grid-template-areas:
        "titulo"
        "imagenes"
        "tipos_musicas"
        "titulo_listado"
        "listado";

    font-family: Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;

    /* Last.fm */
    #titulo {
        grid-area: titulo;

        display: flex;
        justify-content: center;
        justify-self: center;
        align-self: flex-end;
        align-items: flex-end;
        padding-bottom: 0.2em;

        font-size: 30px;
        width: 100%;
        height: 100%;

        background-color: $color-primary;
        color: $color-focus-menu;
    }

    /* Imatges artistes */
    ul:first-of-type {
        grid-area: imagenes;

        display: flex;
        flex-flow: row;
        justify-content: space-around;
        list-style-type: none;
        padding: 1em 20em;

        li {
            display: flex;
            flex-flow: column;
            position: relative;

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 5em;

                color: $color-background;
                text-align: center;
                font-weight: 600;
                text-shadow: 2px 2px #c5000e;
            }

            img {
                display: flex;
                width: 6em;
            }
        }

        li:nth-last-of-type(5) {
            img {
                filter: $rock;
            }
        }

        li:nth-last-of-type(4) {
            img {
                filter: $hip-hop;
            }
        }

        li:nth-last-of-type(3) {
            img {
                filter: $indie;
            }
        }

        li:nth-last-of-type(2) {
            img {
                filter: $jazz;
            }
        }

        li:nth-last-of-type(1) {
            img {
                filter: $reggae;
            }
        }

        li:hover {
            cursor: pointer;
        }
    }

    /* Overview, Top 10 listen, The biggest */
    ul:nth-last-of-type(2) {
        grid-area: tipos_musicas;

        display: flex;
        flex-flow: row;
        justify-content: space-around;
        list-style-type: none;
        padding: 1em 30em;

        font-weight: 600;

        #opcion_seleccionada {
            color: $color-focus-menu;
        }

        li:hover {
            cursor: pointer;
            color: $color-secondary;
        }
    }

    /* Títol músiques */
    h2 {
        grid-area: titulo_listado;

        display: flex;
        align-self: center;

        font-weight: 600;

        margin-left: 1em;
    }

    /* Llistat de músiques */
    ul:last-of-type {
        grid-area: listado;

        display: flex;
        flex-flow: column;

        height: 100%;

        li {
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            margin: 0em 1em;
            height: 2em;

            div:first-of-type {
                display: flex;
                flex-flow: row;
                align-content: center;
                align-items: center;
                height: 100%;

                img {
                    display: flex;
                    width: 1.2em;
                    height: 1.2em;
                    margin: 0em 0.4em;
                    padding-bottom: 0.2em;
                }

                p {
                    display: flex;
                }

                h1 {
                    display: flex;
                    background-color: unset;
                    color: unset;
                    font-size: 19px;
                    width: auto;
                }
                h2 {
                    display: flex;
                }
            }

            div:last-of-type {
                display: flex;
                flex-flow: row;
                align-content: center;
                align-items: center;
                height: 100%;

                margin-right: 1em;

                p {
                    display: flex;
                }
            }
        }

        li:nth-child(odd) {
            background-color: $color-list-odd;
        }
    }
}
